body {
    background-color: #F5F5DD;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#header {
    background-color: burlywood;
    text-align: center;
    padding: 10px;
}

#header h1 {
    color: blue;
}

#header blockquote {
    background-color: yellow;
}

.menu ul {
    justify-content: center;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
}

.gambar {
    text-align: center;
}

.bigger {
    font-size: 20px;
}

.fp::first-letter {
    font-size: 50px;
    color: blue;
}

.koleksi {
    text-align: center;
}

.koleksi img {
    
    width: 20%;
}</p>
</li>
</ol>
</div>
<div class="koleksi">
<img src="images/burung4.png" />
<img src="images/burung3.png" />
<img src="images/burung5.png" />
<img src="images/burung6.png" />
</div>
<div class="bigger">
<h2>Tertarik untuk budidaya / memelihara Perkutut Jawa?,
<br />Penawaran Khusus Bagi Anda
</h2>
<h3>
Harga 1 Ekor Perkutut Remaja <del>Rp. 75.000</del> <br />
Sekarang cukup <strong>Rp. 50.000</strong> saja!
<br />
<a name="harga" />
Berminat hubung kami di <span id="Wa">WA - 012455588222</span>
</h3>
<h4>Kami Hadir juga di aplikasi eCommerce:</h4>
<ol>
<li><a href="tokopedia.com">tokopedia</a></li>
<li><a href="bukakapak.com">Bukalapak</a></li>
<li><a href="shopee.com">shopee</a></li>
</ol>
</div>

</body>

</html>